@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}
@media (max-width: 1020px) {
    .advantages__collum {
        flex: 0 1 50%;
    }
}
@media (max-width: 992px) {
    .header__menu {
        margin-left: 80px;
    }
    .main-block__image {
        opacity: 0.5;
    }
    .main-block__body {
        padding-top: 120px;
    }
    .services__collum {
        flex: 0 1 50%;
    }
    .services__collum:last-child {
        flex: 1 1 100%;
    }
    .services__item {
        padding: 25px;
    }
    .services__collum:not(:last-child) {
        margin-bottom: 30px;
    }
    .advantages {
        padding: 50px 0px;
    }
    .header-block__title {
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        margin-left: 50px;
    }
    .advantages {
        padding: 30px 0px;
    }
    .header-block__title {
        font-size: 30px;
    }
    .advantages__header {
        margin-bottom: 25px;
    }
}
@media (max-width: 560px) {
    .advantages__collum {
        flex: 0 1 100%;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin-left: 20px;
    }
    .menu__link {
        font-size: 18px;
    }
    .header__container {
        min-height: 70px;
    }
    .main-block__title {
        font-size: 42px;
    }
    .main-block__button {
        flex: 1 1 100%;
    }
    .main-block__button:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (min-width: 670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px -30px;
    }
}

@media (min-width: 479px) {
    .main-block__button {
        margin-right: 10px;
    }
}
