@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}

@media (max-width: 1080px) {
	.whoweare__content {
		padding: 0 0 0 50px;
	}
}

@media (max-width: 1040px) {
	.practice__collum {
		flex: 0 1 50%;
	}
}

@media (max-width: 1020px) {
	.advantages__collum {
		flex: 0 1 50%;
	}
}

@media (max-width: 992px) {
	.header__menu {
		margin-left: 80px;
	}

	.main-block__image {
		opacity: 0.5;
	}

	.main-block__body {
		padding-top: 120px;
	}

	.services__collum {
		flex: 0 1 50%;
	}

	.services__collum:last-child {
		flex: 1 1 100%;
	}

	.services__item {
		padding: 25px;
	}

	.services__collum:not(:last-child) {
		margin-bottom: 30px;
	}

	.advantages {
		padding: 50px 0px;
	}

	.header-block__title {
		font-size: 35px;
	}

	.practice {
		padding: 40px 0 40px 0;
	}

	.whoweare__content {
		padding: 0;
	}

	.getintouch__header {
		margin-bottom: 50px;
	}

	.getintouch {
		padding: 50px 0;
	}

	.item-getintouch_active {
		padding: 50px 15px;
	}

	.footer__column {
		flex: 0 1 25%;
	}

	.footer__column:last-child {
		flex: 0 1 100%;
	}
}

@media (max-width: 950px) {
	.whoweare__body {
		flex-direction: column-reverse;
		align-items: stretch;
	}

	.whoweare__video:not(:last-child) {
		margin-top: 50px;
	}

	.whoweare__video {
		padding: 0 0 56.25% 0;
	}

	.whoweare {
		padding: 50px 0 50px 0;
	}

	.whoweare__header {
		margin-bottom: 30px;
	}

	.whoweare__title {
		font-size: 24px;
	}
}

@media (max-width: 810px) {
	.subscribe__title {
		margin-bottom: 20px;
	}

	.subscribe__body {
		margin: 0px -15px;
		padding: 20px 25px;
	}
}

@media (max-width: 767px) {
	.header__menu {
		margin-left: 50px;
	}

	.advantages {
		padding: 30px 0px;
	}

	.header-block__title {
		font-size: 30px;
	}

	.advantages__header {
		margin-bottom: 25px;
	}

	.practice {
		padding: 0px 0 40px 0;
	}

	.practice__header {
		margin: 0 0 25px 0;
	}

	.whoweare {
		padding: 20px 0 50px 0;
	}

	.whoweare__video:not(:last-child) {
		margin-top: 30px;
	}

	.clients {
		padding: 30px 0;
	}

	.getintouch__header {
		margin-bottom: 30px;
	}

	.footer__column {
		flex: 0 1 50%;
	}
}

@media (max-width: 630px) {
	.practice__collum {
		flex: 0 1 100%;
	}

	.subscribe__title {
		max-width: 266px;
	}
}

@media (max-width: 560px) {
	.advantages__collum {
		flex: 0 1 100%;
	}
}

@media (max-width: 479px) {
	.header__menu {
		margin-left: 20px;
	}

	.menu__link {
		font-size: 18px;
	}

	.header__container {
		min-height: 70px;
	}

	.main-block__title {
		font-size: 42px;
	}

	.main-block__button {
		flex: 1 1 100%;
	}

	.main-block__button:not(:last-child) {
		margin-bottom: 10px;
	}
}

@media (min-width: 1070px) {
	.subscribe__body {
		margin: 0 30px;
	}
}

@media (min-width: 992px) {
	.getintouch__items {
		margin: 0;
		display: flex;
		align-items: center;
	}
}

@media (min-width: 810px) {
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}
}

@media (min-width: 767px) {
	.contact__body {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.contact__content {
		padding: 0 20px 0 0;
	}
}

@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px -30px;
	}
}

@media (min-width: 479px) {
	.main-block__button {
		margin-right: 10px;
	}
}