.page {
	flex: 1 1 auto;
	&__services {
			margin-top: -111px;
			position: relative;
			z-index: 2;
		}
	&__advantages {}
	&__practice {}
	&__whoweare {}
	&__clients {
		margin: 0 0 10px 0;
	}
	&__subscribe {}
	&__getintouch {}
	&__contact {}
}
