.subscribe {
	position: relative;
	padding-bottom: 20px;
	&::before {
			background-color: var(--main-blue);
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 77px;
		}
	&__body {
		position: relative;
		z-index: 3;
		padding: 30px 50px;
		align-items: center;
		background-color: var(--subscribe-blue);
		border-radius: 2px;
	}
	&__title {
		flex: 0 1 50%;
		color: var(--base-white);
		font-size: 24px;
		line-height: 133%;
		font-weight: 700;
		letter-spacing: 0.1px;
	}
	&_form {
		flex: 0 1 50%;
		display: flex;
		align-items: center;
	}
	&__input {
		width: 100%;
		flex: 1 1 auto;
		min-height: 58px;
		padding: 0 20px;
		border: 1px solid var(--background-white);
		background-color: var(--base-white);
		color: var(--main-gray);
		border-radius: 5px 0 0 5px;
		&:focus {
				color: #000;
			}
	}
	&__button {
		padding: 0 22px;
		background-color: var(--button-orange);
		border: 1px solid var(--background-white);
		border-radius: 0 5px 5px 0;
		display: flex;
		min-height: 58px;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: var(--base-white);
	}
}
