
.menu-footer {
	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__link {
		color: var(--base-white);
		letter-spacing: 0.2px;
		line-height: 171%;
		display: inline-block;

		&:hover {
			text-decoration: underline;
		}
	}
}