.main-block {
	position: relative;
	&__body {
			padding: 184px 0px 191px 0px;
			position: relative;
			z-index: 2;
			max-width: 400px;
			
		}
	&__title {
		font-size: 58px;
		line-height: 137%;
		font-weight: 800;
		letter-spacing: 0.2px;
	}
	&__text {
		color: var(--main-gray);
		font-size: 20px;
		line-height: 150%;
	}
	&__buttons {
		display: inline-flex;
		flex-wrap: wrap;
		margin: -10px 0px;
	}
	&__button {
		background-color: var(--button-orange);
		border-radius: 37px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		letter-spacing: 0.2px;
		color: var(--base-white);
		padding: 5px 36px;
		min-height: 48px;
		font-weight: 700;
		line-height: 150%;
		&_border {
				background-color: transparent;
				color: var(--button-green);
				border: 1px solid var(--button-green);
			}
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		
	}
}

.main-block__body>*:not(:last-child) {
	margin-bottom: 35px;
}